<div id='map'></div>

<script>
let map;
let infoWindows = [];

function closeAllInfoWindows() {
  for (let i = 0; i < infoWindows.length; i++) {
    infoWindows[i].close();
  }
}

function initMap() {
  geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 35.68128415327956, lng: 139.76676039246024 },
    zoom: 16,
  });

  <% @shops.each do |shop| %>
    let markerData<%= shop.id %> = {
      id: <%= shop.id %>,
      position: {
        lat: <%= shop.latitude %>,
        lng: <%= shop.longitude %>
      },
      infoWindowContent: `<%= render partial: "content_window", locals: { shop: shop } %>`
    };
  
    let marker<%= shop.id %> = new google.maps.Marker({
      map: map,
      position: markerData<%= shop.id %>.position
    });
  
    let infoWindow<%= shop.id %> = new google.maps.InfoWindow({
      content: markerData<%= shop.id %>.infoWindowContent,
      maxWidth: 800
    });
  
    marker<%= shop.id %>.addListener('click', () => {
      infoWindow<%= shop.id %>.open(map, marker<%= shop.id %>);
    });
  <% end %>
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
